@model ForgotPasswordViewModel
@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/theme/css/loginStyle.css">
</head>
<body class="hold-transition login-page">

    <div class="container">
    <div class="form-container">
            <form asp-area="Client" asp-action="ForgotPassword" asp-controller="Account" method="post">
            <h2>You forgot your password? Here you can easily retrieve a new password.</h2>
           
           
            <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger left"></span>
          
      
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
        </form>
    </div>
    </div>

<!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/theme/js/loginScript.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
